*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
   
  }
  
  #navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  
  #navbar a {
    float: left;
    color: #7D3C98;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: rgb(71, 69, 69);
  }
  
  #navbar a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  #navbar-right {
    float: right;
  }
  
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
   

}
#navbar img{
    width: 250px;
}
.all{
    background: content-box radial-gradient(#7D3C98, skyblue);
    font-size: 30px;
}
h5 {
  font-size: 22px;
}
.p1 {
    opacity: 0.7;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 41px;
}
.p1 span {
  opacity: 0.5;
}
.all h2 {
    padding-left: 40px;
    opacity: 0.4;
    color: rgb(54, 54, 54);
}
.all h1 {
    padding-left: 30px;
    color: #fff;
}
.ghra a{
   text-decoration: none;
   opacity: 0.8;
color: #fff;
}
.ghra{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    
}
.ghra i {
    color: rgb(11, 43, 75);
}




.code {
  margin-top: 5cm;
  margin-left: 20px;

  margin-right: 20px;
}
.code h5 {
  margin-bottom: 1cm;
}
.body {
 
    display: flex;
    height: 100vh;
    
}
.container {
    background-color: rgb(190, 190, 190);
    border-radius: .8rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    padding: .5rem;width: 100%;
  }
  
  .card {
    align-items: center;
    display: flex;
    background-color: #fff;
    border-radius: .8rem;
    color: #001;
    font-size: 2.5rem;
    justify-content: center;
    min-width: 30rem;
    transition: background-color .3s ease-out, border-radius .3s linear, color .3s ease-out;
    width: 12vw;
  }
  
  .card:hover{
    background-color: rgb(233, 230, 230);
    
    color: #000;
  }
  
 
  
  @media only screen and (max-width: 80rem) {
    .body {
      min-width: 100%;
      
    }
    .container {
     display: block;padding-left: 60px;
     
     
    }
    
    .card {
      min-width: 20rem;margin-bottom: 10px
    }
    
    
  }
 

  .dv1 {
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
    text-align: center;
  
}
.dv1 h6 {
    opacity: 0.7;
    font-size: 20px;
}
#how {
    opacity: 0.7;
    font-size: 20px;
}


.hi{
    margin-top: 5px;
    font-size: 25px;
}
.dv1 button {
    color: #7D3C98;
    font-size: 15px;
    background: none;
    height: 40px;
    border: none;
    width: 120px;
    border-color: none;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.dv1 button:hover {
    border: solid #7D3C98 2px;
    background: none;
   
    background: #7D3C98;
    color: #fff;
    transition: 0.8s;
}
.dv1 button a:hover {
    border: solid #7D3C98 2px;
    background: none;
    
    background: #7D3C98;
    color: #fff;
    transition: 0.8s;
}
.dv1 a {
    text-decoration: none;
    color: #7D3C98;
}












@media (max-width: 1220px) {

 footer {
  position: relative;
  top: 80cm;
 }
}











@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nhbha {
  display: flex;
 margin-top: 10cm;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
